.card-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.reviews-text {
  max-width: 44.5rem;
}
.reviews-number {
  margin-bottom: 2.5rem;
}
.reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: var(--h1-size);
  color: var(--magenta);
  line-height: var(--h1-line-height);
  letter-spacing: var(--h1-letter-spacing);
  margin: 0;
}
.heading-paragraph {
  color: var(--light-magenta);
  line-height: 2.5rem;
  letter-spacing: -0.05rem;
}

.reviews-stars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.review {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 40.7rem;
  width: 100%;
  background-color: var(--gray);
  height: 62px;
  border-radius: 1.2rem;
  padding: 20px;
}

.reviews-stars .review:not(:last-child) {
  margin-left: -6rem;
  margin-bottom: 1.6rem;
}
.reviews-stars .review:first-child {
  margin-left: -12rem;
}

.star-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 11.7rem;
  margin-right: 3.2rem;
}
.review-title {
  font-size: 1.3rem;
  color: var(--magenta);
  font-weight: 700;
  letter-spacing: -0.022rem;
  line-height: 2.2rem;
  text-align: left;
  margin: 2;
}
