* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  /* Colors */
  /* Primary */
  --magenta: hsl(300, 43%, 22%);
  --pink: hsl(333, 80%, 67%);
  /* Neutral */
  --light-magenta: hsl(303, 10%, 53%);
  --gray: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);

  /* Typography */
  --body: 1.5rem;

  --h1-size: 4.8rem;
  --h1-letter-spacing: -0.175rem;
  --h1-line-height: 4, 8rem;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: var(--body);
  background-color: var(--White);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  max-width: 1100px;
  width: 100%;
}
